<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-accordion>
    <mat-expansion-panel>
      <button mat-raised-button>Raised Button</button>
      <mat-expansion-panel-header>

        <mat-panel-title>
          Neutrinos Platform training
        </mat-panel-title>
        <mat-panel-description>
          This is a training program.
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <button mat-raised-button>Raised Button</button>
      <mat-expansion-panel-header>

        <mat-panel-title>
          Neutrinos Platform training
        </mat-panel-title>
        <mat-panel-description>
          This is a training program.
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel>
      <button mat-raised-button>Raised Button</button>
      <mat-expansion-panel-header>

        <mat-panel-title>
          Neutrinos Platform training
        </mat-panel-title>
        <mat-panel-description>
          This is a training program.
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>